<p>edit-component works!</p>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit-Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue" >

                <div class="mb-3">
                  <label  class="form-group">title</label>
                  <input type="text" formControlName="title" class="form-control" >
                </div>
                <div class="mb-3 form-group">
                    <label  class="form-label">name</label>
                    <input type="text" formControlName="name" class="form-control"  >
                  </div>
                  <div class="mb-3 form-group">
                    <label  class="form-label">category :</label>
                    <select formControlName="category" >
                        <option *ngFor="let dropdown of dropdowns" >{{ dropdown}}</option>
                    </select>
                  </div>
                  <div class="mb-3 form-group">
                    <label  class="form-label">description</label>
                    <textarea type="text" formControlName="description" class="form-control" ></textarea>
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button (click)="updateForms()" type="button" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>

